DB_HOST=localhost
DB_PORT=5432
DB_NAME=online_store_users
DB_USER=postgres
DB_PASSWORD=changeme

REDIS_HOST=localhost
REDIS_PORT=6379

GRPC_AUTH_HOST=127.0.0.1
GRPC_AUTH_PORT=9090

SPRING_PROFILES_ACTIVE=local
